
digit-recognizer/.ipynb_checkpoints/digit-recognizer-checkpoint.ipynb
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe/variables/variables.index
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe/variables/variables.data-00000-of-00001
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe/saved_model.pb
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe/assets/tokens.txt
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe.descriptor.txt
nlp-getting-started/my_tfhub_cache/26c892ffbc8d7b032f5a95f316e2841ed4f1608c/variables/variables.index
nlp-getting-started/my_tfhub_cache/26c892ffbc8d7b032f5a95f316e2841ed4f1608c/variables/variables.data-00000-of-00001
nlp-getting-started/my_tfhub_cache/26c892ffbc8d7b032f5a95f316e2841ed4f1608c/saved_model.pb
nlp-getting-started/my_tfhub_cache/26c892ffbc8d7b032f5a95f316e2841ed4f1608c.descriptor.txt
nlp-getting-started/.ipynb_checkpoints/submission_univ_sen_encoder-checkpoint.csv
nlp-getting-started/.ipynb_checkpoints/nlp-getting-started-checkpoint.ipynb
