
digit-recognizer/.ipynb_checkpoints/digit-recognizer-checkpoint.ipynb
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe/variables/variables.index
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe/variables/variables.data-00000-of-00001
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe/saved_model.pb
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe/assets/tokens.txt
nlp-getting-started/my_tfhub_cache/82c4aaf4250ffb09088bd48368ee7fd00e5464fe.descriptor.txt
nlp-getting-started/my_tfhub_cache/26c892ffbc8d7b032f5a95f316e2841ed4f1608c/variables/variables.index
nlp-getting-started/my_tfhub_cache/26c892ffbc8d7b032f5a95f316e2841ed4f1608c/variables/variables.data-00000-of-00001
nlp-getting-started/my_tfhub_cache/26c892ffbc8d7b032f5a95f316e2841ed4f1608c/saved_model.pb
nlp-getting-started/my_tfhub_cache/26c892ffbc8d7b032f5a95f316e2841ed4f1608c.descriptor.txt
nlp-getting-started/.ipynb_checkpoints/submission_univ_sen_encoder-checkpoint.csv
nlp-getting-started/.ipynb_checkpoints/nlp-getting-started-checkpoint.ipynb
nlp-getting-started/my_tfhub_cache/d760773f85f64fc84ae0b47310f7cfe3bcec4868/variables/variables.index
nlp-getting-started/my_tfhub_cache/d760773f85f64fc84ae0b47310f7cfe3bcec4868/variables/variables.data-00000-of-00001
nlp-getting-started/my_tfhub_cache/d760773f85f64fc84ae0b47310f7cfe3bcec4868/saved_model.pb
nlp-getting-started/my_tfhub_cache/d760773f85f64fc84ae0b47310f7cfe3bcec4868/keras_metadata.pb
nlp-getting-started/my_tfhub_cache/d760773f85f64fc84ae0b47310f7cfe3bcec4868/assets/vocab.txt
nlp-getting-started/my_tfhub_cache/d760773f85f64fc84ae0b47310f7cfe3bcec4868.descriptor.txt
nlp-getting-started/my_tfhub_cache/602d30248ff7929470db09f7385fc895e9ceb4c0/variables/variables.index
nlp-getting-started/my_tfhub_cache/602d30248ff7929470db09f7385fc895e9ceb4c0/variables/variables.data-00000-of-00001
nlp-getting-started/my_tfhub_cache/602d30248ff7929470db09f7385fc895e9ceb4c0/saved_model.pb
nlp-getting-started/my_tfhub_cache/602d30248ff7929470db09f7385fc895e9ceb4c0/keras_metadata.pb
nlp-getting-started/my_tfhub_cache/602d30248ff7929470db09f7385fc895e9ceb4c0/assets/vocab.txt
nlp-getting-started/my_tfhub_cache/602d30248ff7929470db09f7385fc895e9ceb4c0.descriptor.txt
nlp-getting-started/bidirectional_lstm.h5
nlp-getting-started/bidirectional_lstm.keras
nlp-getting-started/bidirectional_lstm.tf/keras_metadata.pb
nlp-getting-started/bidirectional_lstm.tf/saved_model.pb
nlp-getting-started/bidirectional_lstm.tf/variables/variables.data-00000-of-00001
nlp-getting-started/bidirectional_lstm.tf/variables/variables.index
contradictory-my-dear-watson/.ipynb_checkpoints/contradictory-my-dear-watson-checkpoint.ipynb
contradictory-my-dear-watson/.ipynb_checkpoints/contradictory-my-dear-watson-nlp-tensorflow-checkpoint.ipynb
contradictory-my-dear-watson/.ipynb_checkpoints/start-with-tutorial-notebook-checkpoint.ipynb
contradictory-my-dear-watson/.ipynb_checkpoints/tutorial-notebook-checkpoint.ipynb
petals-to-the-metal-flower-classification-on-tpu/.ipynb_checkpoints/petals-to-the-metal-flower-classification-on-tpu-checkpoint.ipynb
